Data/
Fallout4.exe
Fallout4/
Fallout4Launcher.exe
Fallout4Launcher.backup
Fallout4_Default.ini
GFSDK_GodraysLib.x64.dll
High.ini
Low.ini
Medium.ini
Ultra.ini
_CommonRedist/
asiloader.log
bink2w64.dll
dxgi.log
installscript.vdf
libScePad.dll
msvcp110.dll
msvcr110.dll
steam_api64.dll
